<crud>
	<div picture>
		<img class="img-top" src="assets/logos/nollep2019.png" alt="Card image cap">
		<!-- <div class="card-body">
		</div> -->
	</div>
	<div text>
		<div class="row">
			<div class="col-md-3 d-none d-md-block">
				<br>
				<br>
				<br>
				<br>
				<social-medias></social-medias>
			</div>
			<div class="col-md-3 d-sm-none">
				<social-medias></social-medias>
				<br>
			</div>
			<div class="col-md-5">
				<h1>Bra å ha länkar</h1>
				<br>
				<a href="http://teknologkaren.se/">Teknologkåren</a>
				<br>
				<a href="http://studentforeningen.se/">Studentföreningen Campus Skellefteå</a>
				<br>
				<a href="https://sammesstiftelse.se/">Sammesstiftelse</a>
				<br>
				<a href="http://dinfest.se//">Din Fest</a>
			</div>
			<div class="col-md-3">
				<h1>Modernt</h1>
				<br>
				<a href="">Nollehandboken</a>
			</div>
		</div>
		<br>

	</div>
</crud>